{% extends 'blogapp/base.html' %}

{% block title %}
    Blogs
{% endblock %}

{% block body %}
    <h1> Articles: </h1>
    {% for article in object_list %}
        <div>
            <p>
                <a href="{% url 'blogapp:article' pk=article.pk %}"> {{article.title}} </a>
            </p>
            <p>
                Author: {{article.author}}
            </p>
            <p>
                Article: {{article.content}}
            </p>

        </div>
    {% endfor %}
    <div>
        {% if request.user.is_superuser %}
            <a href="{% url 'blogapp:article_create' %}"> Create a new article </a>
        {% endif %}
    </div>
{% endblock %}